<ion-view view-title="Channel">
  <ion-content style="bottom: 94px; background: #e5e5e5;">
    <ol class="discussion">
    <li ng-repeat="message in messages" ng-class="{'self': message.username==username, 'other':message.username!=username}">
      <div class="avatar">
        <img src="{{message.avatar}}" />
        <i class="icon ion-radio-waves" ng-click="play($index)">
          <audio src="{{message.ttsurl}}" id="{{'link'+$index}}" type="audio/mpeg" style="display: none"></audio>
        </i>
      </div>
      <div class="messages">
        <div ng-if="!message.url">
          <p>{{message.text}}</p>
          <p ng-if="sessionService.getSettings().enableTranslation">{{message.translation}}</p>
        </div>
        <div ng-if="message.url">
          <img src="{{message.url}}" width="100%" height="auto" ng-click="message.toggleTranslation = !message.toggleTranslation"></img>
          <div ng-if="message.toggleTranslation">
            <p>{{message.ocrtext}}</p>
            <p ng-if="sessionService.getSettings().enableTranslation">{{message.translation}}</p>
          </div>
        </div>
        <time>{{message.username}} • {{formatTime((currentDate - message.time)/60000)}}</time>
      </div>
    </li>
  </ol>
  </ion-content>
  <div class="write-box">
      <button class="button icon" ng-click="captureImage()">
        <i class="icon ion-ios-camera"></i>
      </button>
      <button class="button icon" ng-click="pickImage()">
        <i class="icon ion-ios-photos"></i>
      </button>
      <label class="item item-input">
        <textarea placeholder="Comments" ng-model="sendText"></textarea>
      </label>
      <button class="button button-light" ng-click="sendMessage(sendText)">
        Send
      </button>
    </div>
</ion-view>
